###############################
# Core EditorConfig Options   #
###############################

root = true

# All files
[*]
indent_style = space[*]
insert_final_newline = true
charset = utf-8

[packages.lock.json]
insert_final_newline = false

[*.sh]
end_of_line = lf

[*.{cs,csx,vb,vbx}]
indent_size = 4

# YAML files
[*.{yml, yaml}]
indent_size = 2
